@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

.background {
  background-image: url("../../public//GUpyzUJqJfBb39vcmZ01ZgWlQ.avif");

  width: 100vw;
  height: 90vh; /* Змінено на 80% висоти екрану */

  background-size: cover; /* Щоб заповнити весь блок без повторення */
  background-repeat: no-repeat; /* Забороняє повторення */
  background-position: center top; /* Вирівнює фон по центру зверху */
  background-position: center top -230px; /* Піднімає фон на 50px */

  position: relative;
}

.leftImage {
  position: absolute;
  left: -275px;
  top: 20%; /* Вирівнюємо по центру */
  transform: translateY(-50%) rotate(10deg); /* Вирівнює фото відносно центру */
}

.rightImage {
  position: absolute;
  right: -260px;
  top: 24%;
  transform: translateY(-50%) rotate(-10deg); /* Повертаємо в інший бік */
}

.topImages {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Вирівнює по центру */
  display: flex;
  gap: 17px; /* Відступи між картинками */
}

/* Стилі для картинок зверху */
.topImage {
  cursor: pointer;
  width: 68px;
  border-radius: 0px; /* Закруглені кути */
  transition: transform 0.3s ease; /* Плавний перехід */
}

.topImage:hover {
  cursor: pointer;
  transform: scale(1.1); /* Збільшення на 10% при наведенні */
}

@font-face {
  font-family: "Covered By Your Grace";
  src: url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Graduate&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap")
      format("woff2"),
    url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Graduate&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.centerText {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11rem; /* Розмір шрифту */
  color: #e7c518; /* Колір тексту */
  text-align: center;
  z-index: 10; /* Для перекриття інших елементів, якщо потрібно */
  font-family: "Covered By Your Grace";
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000;

  --framer-font-size: 629.0239608462923px;
  --framer-letter-spacing: -0.04em;
  --framer-line-height: 90%;
  --framer-text-alignment: center;
  --framer-text-color: rgb(237, 201, 19);
  --framer-text-stroke-width: 3px;
}
.wrappCat {
  display: flex;
  justify-content: center; /* Центрує елементи по горизонталі */
  height: 300px;
  padding-top: 280px;
}
.CatChill {
  padding-left: -20px;
}
